<!--	
			CDIO Project 2018
			Group 2
			by Robert Sand
-->
<launch>
	<include file="$(find tum_ardrone)/launch/ardrone_driver.launch"/>
<!--	<node name="ardrone" pkg="ardrone_autonomy" type="ardrone.driver"/> -->
	<node name="qr" pkg="qr_node" type="qr_node"/>
	<node name="circle_detect" pkg="circle_detect_node" type="circle_detect_node" />
	<node name="flight_controller" pkg="flight_controller" type="flight_controller" />
	<node name="instructor" pkg="instructor_node" type="instructor_node" />
</launch>
